@model Dynamic.Dns.Web.Models.IpAddressModel
@{
    ViewBag.Title = "Your IP Address";
}

<div class="heading">
    <h1>Your Home IP Address</h1>
</div>

<div class="ipAddressContent">
    <p>@Model.IpAddress</p>
</div>