<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="BaseAddressUri" value="Web site base URL"/>
    <add key="AddressPath" value="api/v1/address"/>
    <add key="StorageConnectionString" value="Storage connection string" />
  </appSettings>
</configuration>